*output
*cache
*pyc
*__pycache__
*tmp
*.jpg
*.png
*.jpeg
__pycache__/
*.py[cod]
*$py.class

#------- grasp rcnn --------
*tensorboard

.vscode
*.pkl
*cache
*imagenet_weights
*.zip
*.pyc
*__pycache__*
*logs
*~
*tmp



